<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/cv.css" />
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    @page {
      size: A4 portrait;
    }
    body {
      overflow: scroll;
      height: 7016px !important;
      width: 2480px !important;
    }
    .arabic {
      font-family: "Tajawal", sans-serif !important;
    }
  </style>
  <body>
    <div
      dir="rtl"
      class="w-full relative bg-white overflow-hidden flex flex-col items-center justify-start py-[2rem] px-[3.5rem] box-border gap-[3rem] tracking-[normal] mq1550:pl-[1.75rem] mq1550:pr-[1.75rem] mq1550:box-border mq1000:gap-[1.5rem]"
    >
      <header
        class="self-stretch rounded-3xl bg-[#27547A] flex flex-row items-center justify-center py-[3rem] px-[1.25rem] box-border gap-[11.25rem] max-w-full text-left text-[2rem] text-neutral-200 font-helveticaneuecyr mq1550:gap-[5.63rem] mq450:gap-[1.38rem] mq450:pt-[1.94rem] mq450:pb-[1.94rem] mq450:box-border mq1000:gap-[2.81rem]"
      >
        <img
          class="w-[24.81rem] right-[8rem] top-12 absolute opacity-10 max-h-full min-h-[22.69rem] max-w-full transform rotate-[-25deg]"
          loading="eager"
          alt=""
          src="/public/favicon.svg"
        />
        <img
          class="w-[24.81rem] relative max-h-full min-h-[22.69rem] max-w-full "
          loading="eager"
          alt=""
          src="/public/favicon.svg"
        />

        <div
          class="w-[91.94rem] flex flex-col items-end justify-center min-h-[22.69rem] max-w-full"
        >
          <div
            class="self-stretch flex flex-col items-start justify-center gap-[0.5rem] max-w-full"
          >
            <div
              class="self-stretch arabic relative text-start text-[4.5rem] tracking-[0.05em] leading-[140%] font-extrabold text-neutral-whitepure1 whitespace-nowrap"
            >
            سايما للقوى العاملة            
          </div>
            <div
              class="self-stretch flex flex-row items-center justify-between gap-[1.25rem] max-w-full"
            >
              <div
                class="flex flex-row items-center justify-start gap-[0.73rem] max-w-full"
              >
                <img
                  class="h-[4.39rem] w-[4.39rem] relative overflow-hidden shrink-0"
                  loading="eager"
                  alt=""
                  src="/public/whatsapp.svg"
                />

                <div
                  dir="ltr"
                  class="relative tracking-[0.02em] leading-[140%] font-medium whitespace-nowrap"
                >
                  +968 9620 1040
                </div>
              </div>
              <div
                class="flex flex-row items-center justify-start gap-[0.73rem] max-w-full"
              >
                <img
                  class="h-[4.39rem] w-[4.39rem] relative overflow-hidden shrink-0"
                  loading="eager"
                  alt=""
                  src="/public/mail.svg"
                />

                <div
                  class="relative tracking-[0.02em] leading-[140%] font-medium whitespace-nowrap"
                >
                  info@saymamanpower.com
                </div>
              </div>
              <div
                class="flex flex-row items-center justify-start gap-[0.73rem] max-w-full"
              >
                <img
                  class="h-[4.39rem] w-[4.39rem] relative overflow-hidden shrink-0"
                  loading="eager"
                  alt=""
                  src="/public/globe.svg"
                />

                <div
                  class="relative tracking-[0.02em] leading-[140%] font-medium"
                >
                  saymamanpower.com
                </div>
              </div>
            </div>
            <img
              class="self-stretch relative max-w-full overflow-hidden max-h-full"
              loading="eager"
              alt=""
              src="/public/vector-342.svg"
            />

            <div
              class="self-stretch flex flex-row items-center justify-start max-w-full mq1000:gap-[1.44rem]"
            >
              <div
                class="flex flex-row items-center justify-start gap-[0.73rem] max-w-full"
              >
                <img
                  class="h-[4.39rem] w-[4.39rem] relative overflow-hidden shrink-0"
                  loading="eager"
                  alt=""
                  src="/public/mappin.svg"
                />

                <div
                  class="relative arabic tracking-[0.02em] leading-[140%] font-medium whitespace-nowrap"
                >
                المكتب رقم 73 ، الطابق السابع، مبنى 1/540 ، بلوك 343، السيب، مسقط.
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section
        class="self-stretch flex flex-row items-start justify-start max-w-full text-left text-[3.5rem] text-white font-helveticaneuecyr mq1000:gap-[1.5rem]"
      >
        <div
          class="flex-1 rounded-3xl bg-neutral-200 flex flex-col items-center justify-center py-[3rem] px-[1.25rem] box-border gap-[2rem] max-w-full mq1000:gap-[1rem] mq1000:pt-[1.94rem] mq1000:pb-[1.94rem] mq1000:box-border"
        >
          <div
            class="w-[128rem] rounded-2xl bg-[#F15E22] overflow-x-auto flex flex-row items-center justify-start p-[3rem] box-border gap-[3.5rem] max-w-full mq1550:pl-[1.5rem] mq1550:pr-[1.5rem] mq1550:box-border mq1000:gap-[1.75rem]"
          >
            <div
              class="w-[37.47rem] arabic relative tracking-[0.02em] leading-[140%] uppercase flex items-center mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
            >
              اسم
            </div>
            <div
              class="w-[37.47rem] relative tracking-[0.02em] leading-[140%] uppercase text-center flex items-center justify-center mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
            >
              :
            </div>
            <div
              class="relative tracking-[0.02em] leading-[140%] uppercase font-medium mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
            >
              <%= maidData.name %>
            </div>
          </div>
          <div
            class="w-[128rem] flex flex-row items-start justify-start max-w-full text-neutral-800"
          >
            <div
              class="flex-1 flex flex-row flex-wrap items-start justify-start gap-[11.25rem] max-w-full mq1550:gap-[5.63rem] mq450:gap-[1.38rem] mq1000:gap-[2.81rem]"
            >
              <div
                class="h-[26.63rem] w-[26.63rem] rounded-2xl min-h-[26.63rem] relative flex items-center justify-center"
              >
                <% if (maidData.maidImg &&
                maidData.maidImg.includes("uploads/")) { %>
                <img
                  class="h-full object-top w-full min-h-[26.63rem] max-w-full object-cover rounded-2xl ml-1 absolute left-[0rem] top-[0.13rem] [transform:scale(1.039)]"
                  loading="eager"
                  alt=""
                  src="<%= `${process.env.CURRENT_URL}${maidData.maidImg}` %>"
                />
                <% } else { %>
                <img
                  class="h-full object-top w-full min-h-[26.63rem] max-w-full object-cover rounded-2xl ml-1 absolute left-[0rem] top-[0.13rem] [transform:scale(1.039)]"
                  loading="eager"
                  alt=""
                  src="https://res.cloudinary.com/umarfarooq/image/upload/<%= maidData.maidImg %>"
                />
                <% } %>
              </div>
              <div
                class="flex-1 flex flex-col items-start justify-start gap-[1.5rem] min-w-[58.56rem] max-w-full mq1550:min-w-full"
              >
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center p-[1.5rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap"
                >
                  <div
                    class="w-[34rem] arabic relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    التقدم لوظيفة
                  </div>
                  <div
                    class="w-[46.44rem] arabic [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= arabicMaidData.appliedFor %>
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center p-[1.5rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap mq1550:justify-center"
                >
                  <div
                    class="w-[34rem] arabic relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    الراتب الشهري
                  </div>
                  <div
                    class="w-[46.44rem] arabic [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= arabicMaidData.salery %> OMR
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center p-[1.5rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap mq1550:justify-center"
                >
                  <div
                    class="w-[34rem] arabic relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    فترة العقد
                  </div>
                  <div
                    class="w-[46.44rem] arabic [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= arabicMaidData.contractPeriod %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="self-stretch flex flex-row items-start justify-start max-w-full text-left text-[3.5rem] text-neutral-800 font-helveticaneuecyr mq1000:gap-[1.5rem]"
      >
        <div
          class="flex-1 rounded-3xl bg-neutral-200 flex flex-col items-center justify-end py-[2rem] px-[1.25rem] box-border max-w-full mq1550:pt-[1.31rem] mq1550:pb-[1.31rem] mq1550:box-border mq1000:gap-[1rem] mq1000:pt-[1.25rem] mq1000:pb-[1.25rem] mq1000:box-border"
        >
          <div
            class="w-[128rem] flex flex-row items-start justify-start max-w-full"
          >
            <div
              class="flex-1 flex flex-row items-start justify-between gap-[1.25rem] max-w-full mq1550:flex-wrap mq2100:flex-wrap mq450:flex-wrap mq1000:flex-wrap"
            >
              <div
                class="w-[83.94rem] flex flex-col items-start justify-start gap-[2rem] min-w-[83.94rem] max-w-full mq1550:flex-1 mq1550:min-w-full mq2100:flex-1 mq450:flex-1 mq1000:flex-1 mq1000:gap-[1rem]"
              >
                <div
                  class="self-stretch rounded-lg bg-[#27547A] flex flex-row items-center justify-start p-[3rem] box-border max-w-full text-center text-white mq1550:pl-[1.5rem] mq1550:pr-[1.5rem] mq1550:box-border mq1000:gap-[1.75rem]"
                >
                  <div
                    class="flex-1 arabic relative tracking-[0.02em] leading-[140%] uppercase font-medium inline-block max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    تفاصيل مقدم الطلب
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center py-[1.5rem] px-[1.31rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap"
                >
                  <div
                    class="w-[34rem] arabic relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    الحالة الاجتماعية
                  </div>
                  <div
                    class="w-full arabic [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] flex-1 relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center min-w-[18.75rem] max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= arabicMaidData.maritalStatus %>
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center py-[1.5rem] px-[1.31rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap"
                >
                  <div
                    class="w-[34rem] arabic relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    لا من الأطفال
                  </div>
                  <div
                    class="flex-1 arabic relative tracking-[0.02em] leading-[140%] font-medium inline-block min-w-[1.94rem] max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem] text-right"
                  >
                    <%= arabicMaidData.childrens %>
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center py-[1.5rem] px-[1.31rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap"
                >
                  <div
                    class="w-[34rem] arabic relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    دِين
                  </div>
                  <div
                    class="w-full arabic [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] flex-1 relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center min-w-[18.75rem] max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= arabicMaidData.religion %>
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center py-[1.5rem] px-[1.31rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap"
                >
                  <div
                    class="w-[34rem] arabic relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    اللغات
                  </div>
                  <div
                    class="w-full arabic [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] flex-1 relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center min-w-[18.75rem] max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= arabicMaidData.languages %>
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center py-[1.5rem] px-[1.31rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap"
                >
                  <div
                    class="w-[34rem] arabic relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    خبرة
                  </div>
                  <div
                    class="w-full arabic [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] flex-1 relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center min-w-[18.75rem] max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= arabicMaidData.experience %>
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center py-[1.5rem] px-[1.31rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap"
                >
                  <div
                    class="w-[34rem] arabic relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    تعليم
                  </div>
                  <div
                    class="w-full arabic [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] flex-1 relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center min-w-[18.75rem] max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= arabicMaidData.education %>
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center py-[1.5rem] px-[1.31rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap"
                >
                  <div
                    class="w-[34rem] arabic relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    جنسية
                  </div>
                  <div
                    class="w-full arabic [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] flex-1 relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center min-w-[18.75rem] max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= arabicMaidData.nationality %>
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center py-[1.5rem] px-[1.31rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap"
                >
                  <div
                    class="w-[34rem] arabic relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    عمر
                  </div>
                  <div
                    class="w-full arabic [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] flex-1 relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center min-w-[18.75rem] max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= arabicMaidData.age %>
                    <span class="arabic"> سنوات من العمر </span>
                  </div>
                </div>
              </div>
              <div
                class="h-[89.88rem] w-[40rem] mt-4 rounded-2xl relative flex items-center justify-center"
              >
                <% if (maidData.maidImg &&
                maidData.maidImg.includes("uploads/")) { %>
                <img
                  class="h-full rounded-2xl w-full max-w-full object-cover absolute left-[0rem] top-[0.13rem] [transform:scale(1.026)] mq1550:flex-1 mq2100:flex-1 mq450:flex-1 mq1000:flex-1"
                  alt=""
                  src="<%= `${process.env.CURRENT_URL}${maidData.maidImg}` %>"
                />
                <% } else { %>
                <img
                  class="h-full rounded-2xl w-full max-w-full object-cover absolute left-[0rem] top-[0.13rem] [transform:scale(1.026)] mq1550:flex-1 mq2100:flex-1 mq450:flex-1 mq1000:flex-1"
                  alt=""
                  src="https://res.cloudinary.com/dtcz2zuev/image/upload/<%= maidData.maidImg %>"
                />
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="self-stretch rounded-lg overflow-hidden flex flex-col items-center justify-start max-w-full text-left text-[3.5rem] text-neutral-200 font-helveticaneuecyr"
      >
        <div
          class="self-stretch rounded-2xl bg-[#27547A] flex flex-row flex-wrap items-start justify-start py-[3rem] px-[10rem] box-border gap-[3.5rem] max-w-full mq1550:pl-[5rem] mq1550:pr-[5rem] mq1550:box-border mq1000:gap-[1.75rem] mq1000:py-[1.94rem] mq1000:px-[2.5rem] mq1000:box-border"
        >
          <button
            class="cursor-pointer [border:none] p-[1rem] bg-white rounded-lg flex flex-row items-start justify-start hover:bg-gainsboro"
          >
            <div
              class="relative arabic text-[3.5rem] tracking-[0.02em] leading-[140%] font-medium font-helveticaneuecyr text-neutral-800 text-left mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
            >
              ملاحظات
            </div>
          </button>
          <div
            class="h-full arabic flex-1 min-h-[350px] relative tracking-[0.02em] leading-[140%] inline-block min-w-[70.06rem] max-w-full mq2100:min-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
          >
            <%= arabicMaidData.remarks %>
          </div>
        </div>
      </section>
      
    </div>
    <div
      class="w-full mt-32 relative bg-white overflow-hidden flex flex-col items-center justify-start py-[2rem] px-[3.5rem] box-border gap-[3rem] tracking-[normal] mq1550:pl-[1.75rem] mq1550:pr-[1.75rem] mq1550:box-border mq1000:gap-[1.5rem]"
    >
      <header
        class="self-stretch rounded-3xl bg-[#27547A] flex flex-row items-center justify-center py-[3rem] px-[1.25rem] box-border gap-[11.25rem] max-w-full text-left text-[2rem] text-neutral-200 font-helveticaneuecyr mq1550:gap-[5.63rem] mq450:gap-[1.38rem] mq450:pt-[1.94rem] mq450:pb-[1.94rem] mq450:box-border mq1000:gap-[2.81rem]"
      >
        <img
          class="w-[24.81rem] right-[8rem] top-12 absolute opacity-10 max-h-full min-h-[22.69rem] max-w-full transform rotate-[-25deg]"
          loading="eager"
          alt=""
          src="/public/favicon.svg"
        />
        <img
          class="w-[24.81rem] relative max-h-full min-h-[22.69rem] max-w-full"
          loading="eager"
          alt=""
          src="/public/favicon.svg"
        />

        <div
          class="w-[91.94rem] flex flex-col items-end justify-center min-h-[22.69rem] max-w-full"
        >
          <div
            class="self-stretch flex flex-col items-start justify-center gap-[0.5rem] max-w-full"
          >
            <div
              class="self-stretch relative text-[4.5rem] tracking-[0.05em] leading-[140%] font-extrabold text-neutral-whitepure1 whitespace-nowrap"
            >
              SAYMA MANPOWER
            </div>
            <div
              class="self-stretch flex flex-row items-center justify-between gap-[1.25rem] max-w-full"
            >
              <div
                class="flex flex-row items-center justify-start gap-[0.73rem] max-w-full"
              >
                <img
                  class="h-[4.39rem] w-[4.39rem] relative overflow-hidden shrink-0"
                  loading="eager"
                  alt=""
                  src="/public/whatsapp.svg"
                />

                <div
                  class="relative tracking-[0.02em] leading-[140%] font-medium whitespace-nowrap"
                >
                +968 9620 1040
                </div>
              </div>
              <div
                class="flex flex-row items-center justify-start gap-[0.73rem] max-w-full"
              >
                <img
                  class="h-[4.39rem] w-[4.39rem] relative overflow-hidden shrink-0"
                  loading="eager"
                  alt=""
                  src="/public/mail.svg"
                />

                <div
                  class="relative tracking-[0.02em] leading-[140%] font-medium whitespace-nowrap"
                >
                  info@saymamanpower.com
                </div>
              </div>
              <div
                class="flex flex-row items-center justify-start gap-[0.73rem] max-w-full"
              >
                <img
                  class="h-[4.39rem] w-[4.39rem] relative overflow-hidden shrink-0"
                  loading="eager"
                  alt=""
                  src="/public/globe.svg"
                />

                <div
                  class="relative tracking-[0.02em] leading-[140%] font-medium"
                >
                  saymamanpower.com
                </div>
              </div>
            </div>
            <img
              class="self-stretch relative max-w-full overflow-hidden max-h-full"
              loading="eager"
              alt=""
              src="/public/vector-342.svg"
            />

            <div
              class="self-stretch flex flex-row items-center justify-start max-w-full mq1000:gap-[1.44rem]"
            >
              <div
                class="flex flex-row items-center justify-start gap-[0.73rem] max-w-full"
              >
                <img
                  class="h-[4.39rem] w-[4.39rem] relative overflow-hidden shrink-0"
                  loading="eager"
                  alt=""
                  src="/public/mappin.svg"
                />

                <div
                  class="relative tracking-[0.02em] leading-[140%] font-medium whitespace-nowrap"
                >
                Office No. 73, 7th Floor, Building 1/540, Block 343, Seeb, Muscat.
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section
        class="self-stretch flex flex-row items-start justify-start max-w-full text-left text-[3.5rem] text-white font-helveticaneuecyr mq1000:gap-[1.5rem]"
      >
        <div
          class="flex-1 rounded-3xl bg-neutral-200 flex flex-col items-center justify-center py-[3rem] px-[1.25rem] box-border gap-[2rem] max-w-full mq1000:gap-[1rem] mq1000:pt-[1.94rem] mq1000:pb-[1.94rem] mq1000:box-border"
        >
          <div
            class="w-[128rem] rounded-2xl bg-[#F15E22] overflow-x-auto flex flex-row items-center justify-start p-[3rem] box-border gap-[3.5rem] max-w-full mq1550:pl-[1.5rem] mq1550:pr-[1.5rem] mq1550:box-border mq1000:gap-[1.75rem]"
          >
            <div
              class="w-[37.47rem] relative tracking-[0.02em] leading-[140%] uppercase flex items-center mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
            >
              NAME
            </div>
            <div
              class="w-[37.47rem] relative tracking-[0.02em] leading-[140%] uppercase text-center flex items-center justify-center mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
            >
              :
            </div>
            <div
              class="relative tracking-[0.02em] leading-[140%] uppercase font-medium mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
            >
              <%= maidData.name %>
            </div>
          </div>
          <div
            class="w-[128rem] flex flex-row items-start justify-start max-w-full text-neutral-800"
          >
            <div
              class="flex-1 flex flex-row flex-wrap items-start justify-start gap-[11.25rem] max-w-full mq1550:gap-[5.63rem] mq450:gap-[1.38rem] mq1000:gap-[2.81rem]"
            >
              <div
                class="h-[26.63rem] w-[26.63rem] rounded-2xl min-h-[26.63rem] relative flex items-center justify-center"
              >
                <% if (maidData.maidImg &&
                maidData.maidImg.includes("uploads/")) { %>
                <img
                  class="h-full object-top w-full min-h-[26.63rem] max-w-full object-cover rounded-2xl ml-1 absolute left-[0rem] top-[0.13rem] [transform:scale(1.039)]"
                  loading="eager"
                  alt=""
                  src="<%= `${process.env.CURRENT_URL}${maidData.maidImg}` %>"
                />
                <% } else { %>
                <img
                  class="h-full object-top w-full min-h-[26.63rem] max-w-full object-cover rounded-2xl ml-1 absolute left-[0rem] top-[0.13rem] [transform:scale(1.039)]"
                  loading="eager"
                  alt=""
                  src="https://res.cloudinary.com/dtcz2zuev/image/upload/<%= maidData.maidImg %>"
                />
                <% } %>
              </div>
              <div
                class="flex-1 flex flex-col items-start justify-start gap-[1.5rem] min-w-[58.56rem] max-w-full mq1550:min-w-full"
              >
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center p-[1.5rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap"
                >
                  <div
                    class="w-[34rem] relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    Applied For
                  </div>
                  <div
                    class="w-[46.44rem] [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= maidData.appliedFor %>
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center p-[1.5rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap mq1550:justify-center"
                >
                  <div
                    class="w-[34rem] relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    Monthly Salary
                  </div>
                  <div
                    class="w-[46.44rem] [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= maidData.salery %> OMR
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center p-[1.5rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap mq1550:justify-center"
                >
                  <div
                    class="w-[34rem] relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    Contract Period
                  </div>
                  <div
                    class="w-[46.44rem] [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= maidData.contractPeriod %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="self-stretch flex flex-row items-start justify-start max-w-full text-left text-[3.5rem] text-neutral-800 font-helveticaneuecyr mq1000:gap-[1.5rem]"
      >
        <div
          class="flex-1 rounded-3xl bg-neutral-200 flex flex-col items-center justify-end py-[2rem] px-[1.25rem] box-border max-w-full mq1550:pt-[1.31rem] mq1550:pb-[1.31rem] mq1550:box-border mq1000:gap-[1rem] mq1000:pt-[1.25rem] mq1000:pb-[1.25rem] mq1000:box-border"
        >
          <div
            class="w-[128rem] flex flex-row items-start justify-start max-w-full"
          >
            <div
              class="flex-1 flex flex-row items-start justify-between gap-[1.25rem] max-w-full mq1550:flex-wrap mq2100:flex-wrap mq450:flex-wrap mq1000:flex-wrap"
            >
              <div
                class="w-[83.94rem] flex flex-col items-start justify-start gap-[2rem] min-w-[83.94rem] max-w-full mq1550:flex-1 mq1550:min-w-full mq2100:flex-1 mq450:flex-1 mq1000:flex-1 mq1000:gap-[1rem]"
              >
                <div
                  class="self-stretch rounded-lg bg-[#27547A] flex flex-row items-center justify-start p-[3rem] box-border max-w-full text-center text-white mq1550:pl-[1.5rem] mq1550:pr-[1.5rem] mq1550:box-border mq1000:gap-[1.75rem]"
                >
                  <div
                    class="flex-1 relative tracking-[0.02em] leading-[140%] uppercase font-medium inline-block max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    Applicant Details
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center py-[1.5rem] px-[1.31rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap"
                >
                  <div
                    class="w-[34rem] relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    Marital Status
                  </div>
                  <div
                    class="w-full [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] flex-1 relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center min-w-[18.75rem] max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= maidData.maritalStatus %>
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center py-[1.5rem] px-[1.31rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap"
                >
                  <div
                    class="w-[34rem] relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    NO Of Children
                  </div>
                  <div
                    class="flex-1 relative tracking-[0.02em] leading-[140%] font-medium inline-block min-w-[1.94rem] max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= maidData.childrens %>
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center py-[1.5rem] px-[1.31rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap"
                >
                  <div
                    class="w-[34rem] relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    Religion
                  </div>
                  <div
                    class="w-full [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] flex-1 relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center min-w-[18.75rem] max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= maidData.religion %>
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center py-[1.5rem] px-[1.31rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap"
                >
                  <div
                    class="w-[34rem] relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    Languages
                  </div>
                  <div
                    class="w-full [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] flex-1 relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center min-w-[18.75rem] max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= maidData.languages %>
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center py-[1.5rem] px-[1.31rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap"
                >
                  <div
                    class="w-[34rem] relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    Experience
                  </div>
                  <div
                    class="w-full [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] flex-1 relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center min-w-[18.75rem] max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= maidData.experience %>
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center py-[1.5rem] px-[1.31rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap"
                >
                  <div
                    class="w-[34rem] relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    Education
                  </div>
                  <div
                    class="w-full [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] flex-1 relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center min-w-[18.75rem] max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= maidData.education %>
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center py-[1.5rem] px-[1.31rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap"
                >
                  <div
                    class="w-[34rem] relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    Nationality
                  </div>
                  <div
                    class="w-full [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] flex-1 relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center min-w-[18.75rem] max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= maidData.nationality %>
                  </div>
                </div>
                <div
                  class="self-stretch rounded-lg box-border flex flex-row items-center justify-center py-[1.5rem] px-[1.31rem] gap-[0.5rem] max-w-full border-[3px] border-solid border-neutral-500 mq1550:flex-wrap"
                >
                  <div
                    class="w-[34rem] relative tracking-[0.02em] leading-[140%] flex items-center shrink-0 max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    Age
                  </div>
                  <div
                    class="w-full [border:none] [outline:none] font-medium font-helveticaneuecyr text-[3.5rem] bg-[transparent] h-[4.88rem] flex-1 relative tracking-[0.02em] leading-[140%] text-neutral-800 text-left flex items-center min-w-[18.75rem] max-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
                  >
                    <%= maidData.age %> Years Old
                  </div>
                </div>
              </div>
              <div
                class="h-[89.88rem] w-[40rem] mt-4 rounded-2xl relative flex items-center justify-center"
              >
                <% if (maidData.maidImg &&
                maidData.maidImg.includes("uploads/")) { %>
                <img
                  class="h-full rounded-2xl w-full max-w-full object-cover absolute left-[0rem] top-[0.13rem] [transform:scale(1.026)] mq1550:flex-1 mq2100:flex-1 mq450:flex-1 mq1000:flex-1"
                  alt=""
                  src="<%= `${process.env.CURRENT_URL}${maidData.maidImg}` %>"
                />
                <% } else { %>
                <img
                  class="h-full rounded-2xl w-full max-w-full object-cover absolute left-[0rem] top-[0.13rem] [transform:scale(1.026)] mq1550:flex-1 mq2100:flex-1 mq450:flex-1 mq1000:flex-1"
                  alt=""
                  src="https://res.cloudinary.com/dtcz2zuev/image/upload/<%= maidData.maidImg %>"
                />
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="self-stretch rounded-lg overflow-hidden flex flex-col items-center justify-start max-w-full text-left text-[3.5rem] text-neutral-200 font-helveticaneuecyr"
      >
        <div
          class="self-stretch rounded-2xl bg-[#27547A] flex flex-row flex-wrap items-start justify-start py-[3rem] px-[10rem] box-border gap-[3.5rem] max-w-full mq1550:pl-[5rem] mq1550:pr-[5rem] mq1550:box-border mq1000:gap-[1.75rem] mq1000:py-[1.94rem] mq1000:px-[2.5rem] mq1000:box-border"
        >
          <button
            class="cursor-pointer [border:none] p-[1rem] bg-white rounded-lg flex flex-row items-start justify-start hover:bg-gainsboro"
          >
            <div
              class="relative text-[3.5rem] tracking-[0.02em] leading-[140%] font-medium font-helveticaneuecyr text-neutral-800 text-left mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
            >
              Remarks
            </div>
          </button>
          <div
            class="h-full flex-1 min-h-[350px] relative tracking-[0.02em] leading-[140%] inline-block min-w-[70.06rem] max-w-full mq2100:min-w-full mq450:text-[2.13rem] mq450:leading-[2.94rem] mq1000:text-[2.81rem] mq1000:leading-[3.94rem]"
          >
            <%= maidData.remarks %>
          </div>
        </div>
      </section>
      
    </div>
  </body>
</html>
